{{#partial "headcode" }} {{/partial}} {{#partial "footercode" }} {{/partial}} {{#partial "content" }}
<div class="container min-height-container">
    <div class="form-group {{#if successMsg}}has-error{{/if}}">
        {{#if successMsg}}<span class="help-block dlxs-validation-error">{{successMsg}}</span>{{/if}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/app/courses/{{slug}}/{{subCategoryId}}">Courses</a></li>
                <li class="active">Add Course</li>
            </ol>
            <form action="{{formPostUrl}}" method="post">
                <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                <input type="hidden" name="subCategoryId" value="{{subCategoryId}}" />
                <input type="hidden" name="subCategorySlug" value="{{slug}}" />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Course</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group {{#if nameError}}has-error{{/if}}">
                            <label for="name">{{#if nameError}}<i class="fa fa-times-circle-o"></i>{{/if}} Name </label>                            
                            {{#if nameError}}<span class="help-block dlxs-validation-error">({{nameError}})</span>{{/if}}
                            <input name="name" value="{{course.name}}" type="text" class="form-control" placeholder="Course name">
                        </div>

                        <div class="form-group {{#if descriptionError}}has-error{{/if}}">
                            <label for="description">{{#if descriptionError}}<i class="fa fa-times-circle-o"></i>{{/if}} Description </label>                            
                            {{#if descriptionError}}<span class="help-block dlxs-validation-error">({{descriptionError}})</span>{{/if}}
                            <input name="description" value="{{course.description}}" type="text" class="form-control" placeholder="Description">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" name="action" value="save" class="btn btn-success">Save</button>
                        <a href="/app/courses/{{slug}}/{{subCategoryId}}" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /container -->
{{/partial}} {{> app/common/master }}