{{#partial "headcode" }}
{{/partial}}
{{#partial "footercode" }}
{{/partial}}
{{#partial "content" }}
<div class="container min-height-container">
   <div class="form-group {{#if questionError}}has-error{{/if}}">
        {{#if questionError}}<span class="help-block dlxs-validation-error">({{questionError}})</span>{{/if}}
   </div>
   <div class="form-group {{#if answerError}}has-error{{/if}}">
        {{#if answerError}}<span class="help-block dlxs-validation-error">({{answerError}})</span>{{/if}}
   </div>
   <div class="row">
      <!-- Content Section -->
      <div class="row">
         <div class="col-xs-12">
            <ol class="breadcrumb">
               <li><a href="/app/qna/questions">Questions and Answers</a></li>
               <li class="active">Question Details</li>
            </ol>
            <div class="panel panel-default">
               <div class="panel-heading">
                  <h3 class="panel-title">Question</h3>
               </div>
               <div class="panel-body">
                  <!-- View question for teachers -->		
                  {{#unless showQnaEditForm}}
                    <span>
                        {{qnaQuestion.question}}
                    </span>
                  {{/unless}}
                  <!-- Question edit form for students -->
                  {{#if showQnaEditForm}}
                    <form action="{{updateQuestionUrl}}" method="post">
                        <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                        <input type="hidden" name="id" value="{{qnaQuestion.id}}" />
                        <div class="form-group">
                            <textarea class="form-control"
                            autofocus
                            id="question"
                            name="question"
                            placeholder="Ask a question"
                            rows="5">{{qnaQuestion.question}}</textarea>
                        </div>
                        <hr />
                        <button type="submit"
                            class="btn btn-success"
                            name="action" 
                            value="Save">Save Changes</button>
                        <button type="submit"
                            class="btn btn-default"
                            name="action"
                            value="Cancel">Cancel</button>
                    </form>
                  {{/if}}
               </div>
            </div>
            <div class="page-header">
               <h2>Answers</h2>
            </div>
            {{#if isTeacherRole}}
                {{!--<form action="{{addAnswerUrl}}" method="get">
                    <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                    <button type="submit"
                    class="btn btn-primary rs-add-button"
                    name="action"
                    value="AddAnswer">
                    <i class="fa fa-plus"></i>
                    <span>Add Answer</span></button>
                </form>--}}
                <div class="panel panel-default">
                <!--
                    Add/Edit Answer Directive
                    Display either the Add Answer or Edit Answer form.
                    -->
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span>
                            <!-- Edit/Add mode -->
                            <span>{{#if showAddAnswer}}Add Answer{{else}}Edit Answer{{/if}}</span>
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{{authorAnswerUrl}}" method="post">
                        <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                        <input type="hidden" name="id" value="{{answer.id}}" />
                        <div class="form-group">
                            <textarea class="form-control"
                            autofocus
                            id="answer"
                            name="answer"
                            placeholder="Write an answer"
                            rows="3">{{#unless showAddAnswer}}{{answer.answer}}{{/unless}}</textarea>
                        </div>
                        <hr />
                        <span>
                            <!-- Edit mode -->
                            {{#unless showAddAnswer}}
                                <button type="submit"
                                    class="btn btn-success"
                                    name="action"
                                    value="UpdateAnswer">Save Changes</button>
                            {{/unless}}
                            <!-- Add mode -->
                            {{#if showAddAnswer}}
                                <button type="submit"
                                    class="btn btn-success"
                                    name="action"
                                    value="AddAnswer">Add Answer</button>
                            {{/if}}
                            <!-- Reset button is always displayed -->
                            <button type="submit"
                                class="btn btn-default"
                                name="action"
                                value="Reset">Reset</button>
                        </span>
                    </form>
                </div>
                </div>
            {{/if}}
            <div>
               {{#unless qnaAnswers}}
                <div class="alert alert-info">
                    No answers were found.
                </div>
               {{/unless}}
               {{#if qnaAnswers}}
                <table class="table table-bordered table-hover">
                    <tbody>
                        <th>Answer</th>
                        <th>Accepted</th>
                        <th>Actions</th>
                        {{#each qnaAnswers}}
                        <tr>
                            <td>{{this.answer}}</td>
                            <td class="rs-center">
                            {{#if this.isAcceptedAnswer}}
                                    <!--BH:TODO: We need to show the appropriate symbol based on is accepted or not-->
                                    <i class="fa fa-check rs-green">accepted</i>
                            {{/if}}
                            </td>
                            <td>
                            {{#unless isTeacherRole}}
                                <span>
                                    <form action="{{authorAnswerUrl}}" method="post">
                                        <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                                        <input type="hidden" name="id" value="{{this.id}}" />
                                        {{#unless this.isAcceptedAnswer}}
                                            <button type="submit"
                                                class="btn btn-default"
                                                name="action"
                                                value="AcceptAnswer">
                                                <i class="fa fa-check-square-o"></i> Accept Answer
                                            </button>
                                        {{/unless}}
                                        {{#if this.isAcceptedAnswer}}
                                            <button type="submit"
                                                class="btn btn-default"
                                                name="action"
                                                value="RejectAnswer">
                                                <i class="fa fa-minus-square-o"></i> Reject Answer
                                            </button>
                                        {{/if}}
                                    </form>
                                </span>
                            {{/unless}}
                            {{#ifeq this.createdBy currentUserId}}
                                    <form action="{{authorAnswerUrl}}" method="post">
                                            <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                                            <input type="hidden" name="id" value="{{this.id}}" />
                                            <button type="submit"
                                                    class="btn btn-default"
                                                    name="action"
                                                    value="EditAnswer">
                                                    <i class="fa fa-edit"></i> Edit
                                            </button>
                                    </form>
                            {{/ifeq}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
               {{/if}}
            </div>
            {{#if qnaAnswers}}
                {{> app/components/previous-next-links }}
            {{/if}}
         </div>
      </div>
      <!-- col-lg-8 / Content Section -->
   </div>
   <!-- /row -->
</div>
<!-- /container -->
{{/partial}}
{{> app/common/master }}