{{#partial "headcode" }}
{{/partial}}

{{#partial "footercode" }}
{{/partial}}

{{#partial "content" }}
<div class="container min-height-container">
    <div class="form-group {{#if successMsg}}has-error{{/if}}">
        {{#if successMsg}}<span class="help-block dlxs-validation-error">{{successMsg}}</span>{{/if}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                {{> app/components/page_search }}
            </div>
            <div class="page-header" name="top">
                <h1>Slots</h1>
            </div>
            {{#if isRootRole }}
                <a href="{{addSlotUrl}}"
                    class="btn btn-primary rs-add-button">
                <i class="fa fa-plus"></i> Add Slot</a>
                {{#if slots}}
                    {{> app/components/previous-next-links }}
                    <table show-filter="false"
                        class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="header">
                                    <div>Slot</div>
                                </th>                                
                                <th class="header">
                                    <div>End time</div>
                                </th>                          
                            </tr>
                        </thead>
                        <tbody>
                            {{#each slots}}
                                <tr class="rs-clickable">
                                    <td>
                                        <a href="{{detailsUrl}}/{{this.id}}">
                                            {{this.slotVal}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{detailsUrl}}/{{this.id}}">
                                            {{this.endTime}}
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="alert alert-info">
                        No slots were found. Click <strong>Add Slot</strong> to add an slot.
                    </div>
                {{/if}}
            {{/if}}
        </div>
        {{#if slots}}
            {{> app/components/previous-next-links }}
        {{/if}}
    </div>

</div><!-- /container -->
{{/partial}}
{{> app/common/master }}