{{#partial "headcode" }} {{/partial}} {{#partial "footercode" }} {{/partial}} {{#partial "content" }}
<div class="container min-height-container">
    <div class="form-group {{#if successMsg}}has-error{{/if}}">
        {{#if successMsg}}
        <span class="help-block dlxs-validation-error">{{successMsg}}</span>{{/if}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>Admin</li>
                <li>
                    <a href="{{itemUrl}}">Items</a>
                </li>
                <li class="active">Item Details</li>
            </ol>
            <form action="{{formPostUrl}}" method="post">
                <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Item Details</h3>
                    </div>
                    <div class="panel-body">
                        <input type="hidden" name="id" value="{{item.id}}" />
                        <div class="form-group {{#if nameError}}has-error{{/if}}">
                            <label for="name">{{#if nameError}}
                                <i class="fa fa-times-circle-o"></i>{{/if}} Name </label>
                            {{#if nameError}}
                            <span class="help-block dlxs-validation-error">({{nameError}})</span>{{/if}}
                            <input name="name" value="{{item.name}}" type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group {{#if productIdError}}has-error{{/if}}">
                            <label for="productId">{{#if productIdError}}
                                <i class="fa fa-times-circle-o"></i>{{/if}} Product</label>
                            {{#if productIdError}}
                            <span class="help-block dlxs-validation-error">({{productIdError}})</span>{{/if}}
                            <select name="productId" class="form-control">
                                <option value="">-- Select Product --</option>
                                {{#each product}}
                                <option {{#ifeq this.id item.productId}}selected="selected" {{/ifeq}} value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group {{#if mrpError}}has-error{{/if}}">
                            <label for="mrp">{{#if mrpError}}
                                <i class="fa fa-times-circle-o"></i>{{/if}} MRP </label>
                            {{#if mrpError}}
                            <span class="help-block dlxs-validation-error">({{mrpError}})</span>{{/if}}
                            <input name="mrp" value="{{item.mrp}}" type="number" class="form-control" placeholder="MRP">
                        </div>
                        <div class="form-group {{#if priceError}}has-error{{/if}}">
                            <label for="price">{{#if priceError}}
                                <i class="fa fa-times-circle-o"></i>{{/if}} Price </label>
                            {{#if priceError}}
                            <span class="help-block dlxs-validation-error">({{priceError}})</span>{{/if}}
                            <input name="price" value="{{item.price}}" type="number" class="form-control" placeholder="Price">
                        </div>
                        <div class="form-group {{#if descriptionError}}has-error{{/if}}">
                            <label for="description">{{#if descriptionError}}
                                <i class="fa fa-times-circle-o"></i>{{/if}} Description </label>
                            {{#if descriptionError}}
                            <span class="help-block dlxs-validation-error">({{descriptionError}})</span>{{/if}}
                            <input name="description" value="{{item.description}}" type="text" class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group {{#if imgPathError}}has-error{{/if}}">
                            <label for="imgPath">{{#if imgPathError}}
                                <i class="fa fa-times-circle-o"></i>{{/if}} Image Path </label>
                            {{#if imgPathError}}
                            <span class="help-block dlxs-validation-error">({{imgPathError}})</span>{{/if}}
                            <input name="imgPath" value="{{item.imgPath}}" type="text" class="form-control" placeholder="Image Path">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" name="action" value="save" class="btn btn-success">Save changes</button>
                        <a href="{{itemUrl}}" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /container -->
{{/partial}} {{> app/common/master }}