{{#partial "headcode" }}
{{/partial}}

{{#partial "footercode" }}
{{/partial}}

{{#partial "content" }}
<div class="container min-height-container">
    <div class="form-group {{#if successMsg}}has-error{{/if}}">
        {{#if successMsg}}<span class="help-block dlxs-validation-error">{{successMsg}}</span>{{/if}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                {{> app/components/page_search }}
            </div>
            <div class="page-header" name="top">
                <h1>Cards</h1>
            </div>
            {{#if isRootRole }}
                <a href="{{addCardUrl}}"
                    class="btn btn-primary rs-add-button">
                <i class="fa fa-plus"></i> Add Card</a>
                {{#if cards}}
                    {{> app/components/previous-next-links }}
                    <table show-filter="false"
                        class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="header">
                                    <div>Card</div>
                                </th>
                                <th class="header">
                                    <div>Amount</div>
                                </th>
                                <th class="header">
                                    <div>Expires On</div>
                                </th>
                                <th class="header">
                                    <div>Created On</div>
                                </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {{#each cards}}
                                <tr class="rs-clickable">
                                    <td>
                                        <a href="{{detailsUrl}}/{{this.id}}">
                                            {{this.cardNo}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{detailsUrl}}/{{this.id}}">
                                            {{this.amount}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{detailsUrl}}/{{this.id}}">
                                            {{this.expiresOnFormatted}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{detailsUrl}}/{{this.id}}">
                                            {{this.createdOnFormatted}}
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="alert alert-info">
                        No cards were found. Click <strong>Add Card</strong> to add a card.
                    </div>
                {{/if}}
            {{/if}}
        </div>
        {{#if cards}}
            {{> app/components/previous-next-links }}
        {{/if}}
    </div>

</div><!-- /container -->
{{/partial}}
{{> app/common/master }}