<!-- Previous/Next links -->
<div>
    <div class="page_hash">
        <form action="/app/pagination" method="post">
            <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
            <div class="input-group">
                <input type="number" name="pageHash" class="form-control input-number" min="1" max="{{lastPage}}" required>
                <input type="hidden" name="baseUrl" value="{{baseUrl}}">
                <input type="hidden" name="unapproved" value="{{unapproved}}">
                <input type="hidden" name="action" value="{{action}}">
                <input type="hidden" name="searchValue" value="{{searchValue}}">
                <input type="hidden" name="group" value="{{selectedGroupId}}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-number">
                        <i class="fa fa-search" aria-hidden="true">&nbsp;&nbsp;Go to page</i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div style="text-align: center;">
        {{#if hasPrevious}}<a href="{{firstUrl}}">{{/if}}
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> First&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{#if hasPrevious}}</a>{{/if}}
        {{#if hasPrevious}}<a href="{{previousUrl}}">{{/if}}
        <i class="fa fa-angle-left" aria-hidden="true"></i> Previous
        {{#if hasPrevious}}</a>{{/if}}
        &nbsp;&nbsp;&nbsp;&nbsp;{{range}}&nbsp;&nbsp;&nbsp;&nbsp;
        {{#if hasNext}}<a href="{{nextUrl}}">{{/if}}
        Next <i class="fa fa-angle-right" aria-hidden="true"></i>
        {{#if hasNext}}</a>{{/if}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{#if hasNext}}<a href="{{lastUrl}}">{{/if}}
        Last <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        {{#if hasNext}}</a>{{/if}}
    </div>
</div>