{{#partial "headcode" }}
{{/partial}}
{{#partial "footercode" }}
{{/partial}}
{{#partial "content" }}
{{#if subcategories}}
    <div class="courses_box1">
    <div class="container">
        <div class="detail">
            <h3 style="color:goldenrod;">Order Details</h3>
            <div class="wow fadeInUp animated" data-wow-delay=".5s">
                <div class="course_list">
                <div class="table-header clearfix">
                    <div class="id_col">PID</div>
                    <div class="name_col">Package Name</div>				  
                    <div class="duration_col">Duration</div>
                    <div class="duration_col">Price</div>
                </div>
                <ul class="table-list">
                    {{#each subcategories}}
                    <li class="clearfix">
                        <div class="id_col">{{this.id}}</div>
                        <div class="name_col">
                            <a href="javascript:void(0)">
                            {{this.name}}
                            <p>
                                {{this.description}}
                            </p>
                            </a>
                        </div>
                        <div class="duration_col"><i class="fa fa-clock-o" aria-hidden="true"></i> {{this.duration}}</div>
                        {{#ifeqStr domain "MiniSevaIndia.com"}}
                            <div class="duration_col"><i class="fa fa-inr" aria-hidden="true"></i> {{this.priceInr}}.00</div>
                        {{/ifeqStr}}
                        {{#ifeqStr domain "MiniSevaLMS.com"}}
                            <div class="duration_col"><i class="fa fa-usd" aria-hidden="true"></i>{{this.priceUsd}}</div>
                        {{/ifeqStr}}
                    </li>
                    {{/each}}
                </ul>
                <br/>
                <div class="container">
                        <div class="col-md-8"><a href="/packages?coupon={{coupon}}{{#each subcategoriesIds}}&subcategoriesIds={{this}}{{/each}}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></div>
                        {{#ifeqStr domain "MiniSevaIndia.com"}}
                            <div class="col-md-2">{{#if discount}}<strong>Discount - <i class="fa fa-inr" aria-hidden="true"></i> {{discount}}.00</strong><br/>{{/if}}<strong>Total <i class="fa fa-inr" aria-hidden="true"></i> {{total}}.00</strong></div>
                        {{/ifeqStr}}
                        {{#ifeqStr domain "MiniSevaLMS.com"}}
                            <div class="col-md-2"><strong>Total <i class="fa fa-usd" aria-hidden="true"></i>{{total}}</strong></div>
                        {{/ifeqStr}}
                        <div class="col-md-2 text-right">
                            <form action="/packages-signup" method="post">
                                <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                                <!-- Note that the amount is in paise = 3500 INR -->
                                <script
                                    src="https://checkout.razorpay.com/v1/checkout.js"
                                    data-key="rzp_live_3fQswhd2GW4ZrV"
                                    data-order_id="{{orderId}}"
                                    data-amount="{{amount}}"
                                    data-buttontext="Checkout&#x00a0&#xf105;"
                                    data-name="Miniseva"
                                    data-description="Packages"
                                    data-image="/favicon.ico"
                                    data-prefill.name="{{fullname}}"
                                    data-prefill.email="{{email}}"
                                    data-prefill.contact="{{mobilePhone}}"
                                    data-theme.color="#F37254"
                                    ></script>
                                <input type="hidden" value="{{userId}}" name="purchaserId">
                                <input type="hidden" name="coupon" value="{{coupon}}" />
                                <input type="hidden" name="amount" value="{{amount}}" />
                                <input type="hidden" name="total" value="{{total}}" />
                                <input type="hidden" name="discount" value="{{discount}}" />
                                {{#each subcategoriesIds}}
                                    <input type="hidden" name="subcategoriesIds" value="{{this}}" />
                                {{/each}}
                                <input type="hidden" value="{{merchantOrderId}}" name="merchantOrderId">
                            </form>
                        </div>
                </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    </div>
{{else}}
   <div class="page-wrapper">
   <div class="container">
      <center>
         <br/>
         <h2 style="color:blue">Information!</h2>
         <br/>
         <h2 >It seems that you have already purchased all of the packages. Please click on USE LMS to start learning.</h2>
         <br/>
      </center>
   </div>
</div>
{{/if}}
{{/partial}}
{{> common/master }}