{{#partial "headcode" }}
{{/partial}}

{{#partial "footercode" }}
{{/partial}}

{{#partial "content" }}
<div class="container min-height-container">
    <div class="form-group {{#if successMsg}}has-error{{/if}}">
        {{#if successMsg}}<span class="help-block dlxs-validation-error">{{successMsg}}</span>{{/if}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>Admin</li>
                <li><a href="/app/admin/customer">Customers</a></li>
                <li class="active">Add Customer</li>
            </ol>
            <form action="{{formPostUrl}}" method="post">
                <input type="hidden" name="{{csrfParameterName}}" value="{{csrfToken}}" />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Customer</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group {{#if cardNoError}}has-error{{/if}}">
                             <label for="cardNo">{{#if cardNoError}}<i class="fa fa-times-circle-o"></i>{{/if}} Card</label>
                            {{#if cardNoError}}<span class="help-block dlxs-validation-error">({{cardNoError}})</span>{{/if}}
                            <select name="cardNo" class="form-control">
                                <option value="">-- Select Card --</option>
                                {{#each card}}
                                    <option {{#ifeqStr this.cardNo customer.cardNo}}selected="selected"{{/ifeqStr}} value="{{this.cardNo}}">{{this.cardNo}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group {{#if noError}}has-error{{/if}}">
                            <label for="no">{{#if noError}}<i class="fa fa-times-circle-o"></i>{{/if}} Flat No </label>
                            {{#if noError}}<span class="help-block dlxs-validation-error">({{noError}})</span>{{/if}}
                            <input name="no" value="{{customer.no}}" type="text" class="form-control" placeholder="Flat No">
                        </div>

                        <div class="form-group {{#if leadIdError}}has-error{{/if}}">
                             <label for="leadId">{{#if leadIdError}}<i class="fa fa-times-circle-o"></i>{{/if}} Lead</label>
                            {{#if leadIdError}}<span class="help-block dlxs-validation-error">({{leadIdError}})</span>{{/if}}
                            <select name="leadId" class="form-control" onchange="this.form.submit()">
                                <option value="">-- Select Lead --</option>
                                {{#each lead}}
                                    <option {{#ifeq this.id customer.leadId}}selected="selected"{{/ifeq}} value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group {{#if blockIdError}}has-error{{/if}}">
                             <label for="blockId">{{#if blockIdError}}<i class="fa fa-times-circle-o"></i>{{/if}} Block</label>
                            {{#if blockIdError}}<span class="help-block dlxs-validation-error">({{blockIdError}})</span>{{/if}}
                            <select name="blockId" class="form-control">
                                <option value="">-- Select Block --</option>
                                {{#each block}}
                                    <option {{#ifeq this.id customer.blockId}}selected="selected"{{/ifeq}} value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" 
                                    name="action" 
                                    value="save" 
                                    class="btn btn-success">Save</button>
                        <a href="/app/admin/customer"
                            class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>         
        </div>
    </div>
</div><!-- /container -->
{{/partial}}
{{> app/common/master }}