{{#partial "headcode" }}
{{/partial}}

{{#partial "footercode" }}
{{/partial}}

{{#partial "content" }}
<div class="container min-height-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header" name="top">
                <h1>Schedules</h1>
            </div>
            {{#if isRootRole }}
                {{#if orders}}
                    {{> app/components/previous-next-links }}
                    <table show-filter="false"
                        class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="header">
                                    <div>Order Id</div>
                                </th>
                                <th class="header">
                                    <div>Item Id</div>
                                </th>
                                <th class="header">
                                    <div>Item Details</div>
                                </th>
                                <th class="header">
                                    <div>Item Price</div>
                                </th>
                                <th class="header">
                                    <div>Item Discount</div>
                                </th>
                                <th class="header">
                                    <div>Slot</div>
                                </th>
                                <th class="header">
                                    <div>Quantity</div>
                                </th>
                                <th class="header">
                                    <div>Scheduled on</div>
                                </th>
                                <th class="header">
                                    <div>Total Amount</div>
                                </th>
                                <th class="header">
                                    <div>Status</div>
                                </th>
                                <th class="header">
                                    <div>Ordered By</div>
                                </th>
                                <th class="header">
                                    <div>Address</div>
                                </th>
                                <th class="header">
                                    <div>Ordered On</div>
                                </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {{#each schedules}}
                                <tr>
                                    <td>
                                        <a href="{{detailsUrl}}/{{this.id}}">
                                            {{this.id}}
                                        </a>
                                    </td>
                                    <td>
                                        {{this.itemId}}
                                    </td>
                                    <td>
                                        {{this.itemName}}, 
                                        {{this.itemDescription}}
                                    </td>
                                    <td>
                                        {{this.itemPrice}}
                                    </td>
                                    <td>
                                        {{this.itemDiscount}}
                                    </td>
                                    <td>
                                        {{this.slot}}
                                    </td>
                                    <td>
                                        {{this.quantity}}
                                    </td>
                                    <td>
                                        {{this.dates}}
                                    </td>
                                    <td>
                                        {{this.totalPrice}}
                                    </td>
                                    <td>
                                        {{this.status}}
                                    </td>
                                    <td>
                                        {{this.orderBy}}
                                    </td>
                                    <td>
                                        {{this.address}}
                                    </td>
                                    <td>
                                        {{this.createdOnFormatted}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="alert alert-info">
                        No schedules were found.
                    </div>
                {{/if}}
            {{/if}}
        </div>
        {{#if schedules}}
            {{> app/components/previous-next-links }}
        {{/if}}
    </div>

</div><!-- /container -->
{{/partial}}
{{> app/common/master }}
