{{#partial "headcode" }}
{{/partial}}
{{#partial "footercode" }}
{{/partial}}
{{#partial "content" }}
<div class="container min-height-container">
   <div class="row">
      <!-- Content Section -->
      <div class="col-xs-12">
         <div class="page-header" name="top">
            <h1>Exam Results</h1>
         </div>
      </div>
      <div class="col-xs-12">
         <h2>Score</h2>
      </div>
      <div class="col-xs-12">
         <div class="col-md-4" style="height: 450px">
            <input type="hidden" id="correct" value="{{numCorrect}}" />
            <input type="hidden" id="wrong" value="{{numWrong}}" />
            <input type="hidden" id="skipped" value="{{numSkipped}}" />
            <div id="report-pie-chart" style="height: 400px;"></div>
         </div>
         <div class="col-md-8">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th class="rs-center">Metric</th>
                     <th class="rs-center">Value</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td class="rs-center">Total # of questions</td>
                     <td class="rs-center">{{numQuestions}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center">Total marks allocated</td>
                     <td class="rs-center">{{marksAllocated}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center"># of questions answered</td>
                     <td class="rs-center">{{numAnswered}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center"># of correct answers</td>
                     <td class="rs-center">{{numCorrect}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center"># of wrong answers</td>
                     <td class="rs-center">{{numWrong}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center"># of questions skipped</td>
                     <td class="rs-center">{{numSkipped}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center">Score</td>
                     <td class="rs-center">{{score}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center">Score (percentage)</td>
                     <td class="rs-center">{{scorePercentage}}%</td>
                  </tr>
                  <tr>
                     <td class="rs-center">Time allocated</td>
                     <td class="rs-center">{{timeAllocated}}</td>
                  </tr>
                  <tr>
                     <td class="rs-center">Time taken</td>
                     <td class="rs-center">{{timeTaken}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="col-xs-12">
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th>Question</th>
                  <th class="rs-center">Result</th>
               </tr>
            </thead>
            <tbody>
               {{#each responses}}
               <tr class="rs-ae-exam-results">
                  <td>
                     <input type="hidden" id="numResponses" value="{{responsesCount}}" />
                     <div id="question{{this.question.id}}" name="mdText">{{md this.question.questionText}}</div>
                     <div>
                        <ul class="nav nav-pills">
                           <li>
                              <button style="color:green;font:caption" id="btnResponse{{#inc @index}}{{/inc}}" class="text-button" type="button" data-toggle="collapse" data-target="#response{{#inc @index}}{{/inc}}">
                                    <i class="fa fa-list-ul"></i>
                                    Show Correct Answer
                              </button>
                           </li>
                        </ul>
                        <div id="response{{#inc @index}}{{/inc}}" class="collapse">
                           <div class="rs-question rs-question-sc">
                              <!-- Question with answer highlighted -->
                              <div class="panel panel-success rs-answer-elaboration">
                                 <div class="panel-heading">
                                    <h3 class="panel-title">Correct Answer</h3>
                                 </div>
                                 <div class="panel-body">
                                    <div id="questionText{{this.question.id}}" name="mdText">{{md this.question.questionText}}</div>
                                    <div>{{this.question.promptText}}</div>
                                    {{#each this.question.answers}}
                                          {{#ifeqStr ../this.question.questionType "sc"}}
                                                <div class="radio row">
                                                <label class="col-xs-12" class="rs-answers-exam-results">
                                                      <div class="col-xs-1 rs-answer-exam-results-checkbox">
                                                      {{#ifeq ../this.answerId this.id}}
                                                      <span><i class="fa fa-check-square-o"></i></span>
                                                      {{else}}
                                                      <span><i class="fa fa-square-o"></i></span>
                                                      {{/ifeq}}
                                                      </div>
                                                      <div class="col-xs-11 rs-answer-text">
                                                      <span id="answer{{../this.question.id}}{{this.id}}" name="mdText" {{#if this.isCorrect}}class="rs-correct-answer"{{else}}{{#ifeq ../this.answerId this.id}}class="rs-wrong-answer"{{/ifeq}}{{/if}}>{{md this.answerText}}</span>
                                                      {{#if this.isCorrect}}<span class="rs-correct-answer">[CORRECT]</span>{{/if}}
                                                      </div>
                                                </label>
                                                </div>
                                          {{/ifeqStr}}
                                          {{#ifeqStr ../this.question.questionType "mc"}}
                                                <div class="radio row">
                                                <label class="col-xs-12" class="rs-answers-exam-results">
                                                      <div class="col-xs-1 rs-answer-exam-results-checkbox">
                                                      {{#ifCSVStrInclude ../this.answer this.id}}
                                                      <span><i class="fa fa-check-square-o"></i></span>
                                                      {{else}}
                                                      <span><i class="fa fa-square-o"></i></span>
                                                      {{/ifCSVStrInclude}}
                                                      </div>
                                                      <div class="col-xs-11 rs-answer-text">
                                                      <span id="answer{{../this.question.id}}{{this.id}}" name="mdText" {{#if this.isCorrect}}class="rs-correct-answer"{{else}}{{#ifCSVStrInclude ../this.answer this.id}}class="rs-wrong-answer"{{/ifCSVStrInclude}}{{/if}}>{{md this.answerText}}</span>
                                                      {{#if this.isCorrect}}<span class="rs-correct-answer">[CORRECT]</span>{{/if}}
                                                      </div>
                                                </label>
                                                </div>
                                          {{/ifeqStr}}
                                    {{/each}}
                                    {{#ifeqStr this.question.questionType "oe"}}
                                          <div class="row">
                                          <label class="col-xs-12" class="rs-answers-exam-results">
                                                <div class="col-xs-11 rs-answer-text">
                                                      <span>{{this.answer}}</span>
                                                </div>
                                          </label>
                                          </div>
                                    {{/ifeqStr}}
                                    {{#ifeqStr this.question.questionType "oen"}}
                                          <div class="row">
                                          <label class="col-xs-12" class="rs-answers-exam-results">
                                                <div class="col-xs-11 rs-answer-text">
                                                      <span {{#if this.correct}}class="rs-correct-answer"{{else}}class="rs-wrong-answer"{{/if}}>{{this.answer}}</span>
                                                </div>
                                          </label>
                                          </div>
                                          {{#each this.question.answers}}
                                                <div class="row">
                                                <label class="col-xs-12" class="rs-answers-exam-results">
                                                      <div class="col-xs-11 rs-answer-text">
                                                      {{#if this.isCorrect}}
                                                            <span id="answer{{this.question.id}}{{this.id}}" name="mdText" class="rs-correct-answer">{{md this.answerText}}</span>
                                                            <span class="rs-correct-answer">[CORRECT]</span>
                                                      {{/if}}
                                                      </div>
                                                </label>
                                                </div>
                                          {{/each}}
                                    {{/ifeqStr}}
                                    <hr/>
                                    <h3>Answer Elaboration</h3>
                                    <div id="ae{{this.question.id}}" name="mdText">{{md this.question.answerElaboration}}</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </td>
                  {{#unless this.skipped}}
                  {{#if this.correct}}
                  <td class="rs-center">
                     <span class="label label-success">
                     <i class="fa fa-check" data-toggle="tooltip" title="Right"></i>
                     </span>
                  </td>
                  {{else}}
                  <td class="rs-center">
                     <span class="label label-danger">
                     <i class="fa fa-times" data-toggle="tooltip" title="Wrong"></i>
                     </span>
                  </td>
                  {{/if}}
                  {{else}}
                  <td class="rs-center">
                     <span>
                     <i class="fa fa-hourglass-end" data-toggle="tooltip" title="Not attended"></i>
                     </span>
                  </td>
                  {{/unless}}
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
   <!-- /row -->
</div>
<!-- /container -->
{{/partial}}
{{> app/common/master }}